<div class="navbar navbar-inverse" role="navigation" style="background-color:grey;overflow: hidden;
    position: fixed; z-index: 1; top: 0; width: 100%;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">HIGHLIGHTS</a>
                <a class="navbar-brand" href="/"> HOME </a>


            </div>

        </div>
    </div>