{% extends 'base.html'%}
{% import 'macros.html' as macro %}

    <link rel="stylesheet" href="{{url_for('static',filename='css/source.css')}}">

{% block content %}
<div class="container" style = "padding-top:50px;">
         <div class="jumbotron">
      <div class="row mb-2" style="text-align:center;">
          <h3>Top Headlines</h3>
          
        </div>
<div class="container">
      
        {% for article in articles %}
        <ul>
        <div class="card">
          <img class="card-img-top" src="{{article.urlToImage}}" alt="Card image">
          
            
            <div class="card-body">
              <li class="card-title">{{article.author}}</li>
              <h3>{{article.title}}</h3>
              <h4 class="card-text">{{ article.description }}</h4>
              <p>{{article.publishedAt}}</p>
              <a href="{{article.url}}" class="btn btn-default bg-info" >View Article</a>
              <br>
             </div>
          </div>
          </ul>
          {%endfor%}
  
          
</div>        
</div>
</div>
{% endblock %}